.contenedor-checkout {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:20px;
}

.contenedor-checkout input{
    margin: 0.2rem;
    text-align: left;
}