ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 1;
    position: fixed;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 10vh;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: unset;
    box-shadow: 0 4px 12px -6px lightgray;
    z-index: 2;
  }

ul li:nth-child(1) {
    padding: 0 25vw 0 0;
}

ul li:nth-child(1):hover {
    opacity: 0.5;
}

ul li a {
    color: #27aae1;
    text-decoration: unset;
}

ul li a:hover {
    color: #27a9e186;
}